= simple_form_for :session, :url => sessions_path, :wrapper => :inline do |f|
  - if f.error_notification
    .alert-message.warning.fade.in{"data-alert" =>"alert"}
      %a.close{ :href => "#" } ×
      %p
        = f.error_notification
  %fieldset
    %legend Sign in
    .inputs.clearfix
      = f.input :email
      = f.input :password
    .actions.clearfix
      = f.submit "Sign in", :class => 'btn primary'
    